body {
    background: #02160e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    color:black;
    font-size: 5rem; 
    font-weight: 600;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px); 
    margin-top: 20px;
    background: ghostwhite;
    box-shadow: 12px 15px 25px rgba(255, 255, 255, 0.2); 
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}
#inicio h2{
    color: white;
    font-size: 4rem; 
    font-weight: 600;
    text-align: right;
    margin-top: -600px;
    margin-right: 1000px;
    -webkit-text-stroke: 2px white;
}
.texto-conoceme{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
    background-color: beige;
    text-align: center;
    line-height: 1.5;
}
img {
    max-width: 20%;
    height: auto;
    border: 10px solid #073020; 
    border-radius: 30px;
    margin-left: 1050px;
    margin-top: 60px;
}
#proyectos h2{
    color: white;
    font-size: 4rem; 
    font-weight: 600;
    text-align: right;
    margin-top: -330px;
    margin-right: 1000px;
    -webkit-text-stroke: 2px white;
}
.texto-proyectos{
    position: absolute;
    top: 85%;
    left: 35%;
    transform: translate(-50%,-50%);
    background-color: beige;
    text-align: center;
    line-height: 1.5;
}
#contacto h2{
    color: white;
    font-size: 4rem; 
    font-weight: 600;
    text-align: right;
    margin-top: -130px;
    margin-right: 1000px;
    -webkit-text-stroke: 2px white;
}
.texto-contacto{
    position: absolute;
    top: 110%;
    left: 35%;
    transform: translate(-50%,-50%);
    background-color: beige;
    text-align: center;
    line-height: 1.5;
}
audio {
    position: relative;
    width: 30%;
    top: -600px;
}
